.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.links {
  list-style-type: none;

  li {
    float: left;
  }
}

.badge {
  min-width: 100px;
}
